@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #713c3c;
}

/* BASE STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Poppins", sans-serif;
  color: #111;
}

h1 {
  font-size: 26px;
  font-weight: 500;
}

p {
  margin: 20px 0 5px;
  font-size: 1.1rem;
}

.title {
  text-align: center;
  width: 1100px;
  margin-top: 70px;
  margin-bottom: 30px;
}

.title-results {
  text-align: center;
  width: 600px;
  margin-bottom: 30px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  margin-top: 60px;
}
/*  height: 100vh; */

section.home {
  flex-direction: row;
  padding: 60px 40px;
}

section.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 60px;
}

.service-list {
  column-count: 3;
  flex-direction: row;
  list-style-type: circle;
  padding: 0 60px 60px;
}

/* BUTTON */
.btn {
  cursor: pointer;
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  margin: 38px 0;
}

.btn:hover {
  transform: scale(0.98);
}

/* LOGO */
.logo-home {
  position: absolute;
  top: 5px;
  left: 30px;
  padding-bottom: 10px;
  z-index: 20;
}
.logo-home img {
  width: 110px;
  height: 100px;
}
.logo {
  position: absolute;
  top: 0px;
  left: 60px;
  padding-bottom: 10px;
  z-index: 20;
}
.logo img {
  width: 160px;
  height: 150px;
}

/* TOGGLE */
.toggle {
  position: fixed;
  top: 0;
  right: 0;
  width: 55px;
  height: 55px;
  background: var(--primary-color) url(../img/menu.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 20;
  cursor: pointer;
}

.toggle.active {
  background: var(--primary-color) url(../img/close.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

/*NAVIGATION*/
.navigation {
  position: fixed;
  top: -100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.navigation.active {
  top: 0;
}

.navigation ul {
  position: relative;
}

.navigation ul li {
  position: relative;
  list-style: none;
  text-align: center;
}

.navigation ul li a {
  font-size: 2rem;
  color: #111;
  text-decoration: none;
  font-weight: 300;
}

.navigation ul li a:hover {
  color: var(--primary-color);
}

.navigation .social-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation .social-bar a img {
  display: inline-block;
  width: 25px;
  margin: 5px 0;
}

/* HOMEPAGE */

.home-content {
  position: relative;
  z-index: 10;
  max-width: 300px;
}

.home-img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: auto;
  width: 70%;
}

@media (max-width: 1068px) {
  .home-img {
    display: none;
  }
  .logo {
    top: 10px;
    left: 30px;
    font-size: 1.5rem;
  }
  section {
    padding: 100px 30px;
  }

  .navigation ul li a {
    font-size: 1.5rem;
  }
  section.results .title-results {
    padding: 200px 30px 50px;
  }
}

/*RESULTS*/

.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(240, 224, 224);
  font-weight: bold;
  font-size: 38px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: var(--primary-color);
}
/* Caption text */
.text {
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 500;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
/*picture changing by hovering*/
#bedroom {
  width: 1080px;
  height: 720px;
  transition: background-image 1s ease-in-out;
  background-image: url("/img/bedroom2.png");
}

#bedroom:hover {
  background-image: url("/img/bedroom1.png");
}
#living-room {
  width: 1080px;
  height: 720px;
  transition: background-image 1s ease-in-out;
  background-image: url("/img/living2.png");
}

#living-room:hover {
  background-image: url("/img/living1.png");
}
#dining-room {
  width: 1080px;
  height: 720px;
  transition: background-image 1s ease-in-out;
  background-image: url("/img/dining2.png");
}

#dining-room:hover {
  background-image: url("/img/dining1.png");
}
